.DS_Store
/Code/InterfaceApp/TableController/DigitalControls/__pycache__
/Code/InterfaceApp/TableController/DigitalControls/node_modules
/Code/InterfaceApp/TableController/PhysicalControls/__pycache__
